.services{
    display: flex;
    padding: 30px 0;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services__title{
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(1.3rem, 2rem, 6vw);
}
.services__container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    gap: 15px;
}

@media (max-width:1500px){
    .services__container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1050px){
    .services__container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:600px){
    .services__container{
        grid-template-columns: repeat(1,1fr);
    }
}