.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("xv.png");
    background-color: #7a6257;
    height: 100dvh;
}

.about__container {
    display: flex;
    width: 90%;
    margin: auto;
}

.about__title {
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1.3rem, 2rem, 6vw);
}

.about__video {
    width: 60%;
    

    iframe {
        aspect-ratio: 16/9;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 15px solid var(--border-color-1);
    }
}

.about__text {
    width: 40%;
    background-color: var(--bg-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 15px;

}

@media(max-width:1190px){
    .about{
        height: max-content;
        padding: 60px 0;
    }
    .about__container{
        flex-direction: column-reverse;
    }

    .about__video,
    .about__text{
        width: 100%;
    }
}