.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-2);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 30px 0;

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        line-height: 1.6;

    }

    h3 {
        letter-spacing: 0.2em;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.footer__social{
    display: flex;
    align-items: center;
    gap: 20px;

    a{
        color: var(--text-color-1);
        font-size: 1.2em;
        transition: color 0.3s;

        &:hover{
            color: var(--text-color-2);
        }
    }
}